* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    font-family: 'Open sans', sans-serif;
}

.contenedor {
    width: 90%;
    margin: auto;
}

header {
    padding: 20px 0;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 30px;
    color: red;
}

header nav a {
    color: grey;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
    color: white;
}

.peli-principal {
    background: url(../img/peliprincipal.jpg);
    margin-left: 100px;
    margin-right: 100px;
    padding: 280px;
    height: 0px;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: end;
}

.peli-principal,
.titulo {
    padding-left: 10px;
    color: rgba(248, 237, 230, 0.938);
}