* {
    padding: 1%;
}

.calculadora {
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(134, 56, 223, 0.658);
    width: 350px;
    height: 420px;
    border-radius: 25px;
    margin-top: 25px;
}

.calculadora div button {
    background-color: rgb(57, 23, 88);
    width: 60px;
    height: 60px;
    font-size: 25px;
    margin-bottom: 6px;
    margin-left: 5px;
    border-radius: 15px;
}

.calculadora .pantallas {
    display: block;
    width: auto;
    height: 100px;
    font-size: 40px;
    background-color: rgb(169, 121, 233);
    border-radius: 15px;
    line-height: 100px;
}

.calculadora .teclas {
    margin-top: 8px;
    width: auto;
    height: auto;
}

.op {
    margin-top: -85%;
    margin-left: 69%;
}

.op button {
    display: block;
}